In [47]:
import pandas as pd
import re

In [53]:
data = pd.read_csv("data/RealEstateAU_1000_Samples.csv")

In [54]:
data.head()

,index,TID,breadcrumb,category_name,property_type,building_size,land_size,preferred_size,open_date,listing_agency,...,state,zip_code,phone,latitude,longitude,product_depth,bedroom_count,bathroom_count,parking_count,RunDate
0,0,1350988,Buy>NT>DARWIN CITY,Real Estate & Property for sale in DARWIN CITY...,House,NaN,NaN,NaN,Added 2 hours ago,Professionals - DARWIN CITY,...,NT,800,08 8941 8289,NaN,NaN,premiere,2.0,1.0,1.0,2022-05-27 15:54:05
1,1,1350989,Buy>NT>DARWIN CITY,Real Estate & Property for sale in DARWIN CITY...,Apartment,171m²,NaN,171m²,Added 7 hours ago,Nick Mousellis Real Estate - Eview Group Member,...,NT,800,0411724000,NaN,NaN,premiere,3.0,2.0,2.0,2022-05-27 15:54:05
2,2,1350990,Buy>NT>DARWIN CITY,Real Estate & Property for sale in DARWIN CITY...,Unit,NaN,NaN,NaN,Added 22 hours ago,Habitat Real Estate - THE GARDENS,...,NT,800,08 8981 0080,NaN,NaN,premiere,2.0,1.0,1.0,2022-05-27 15:54:05
3,3,1350991,Buy>NT>DARWIN CITY,Real Estate & Property for sale in DARWIN CITY...,House,NaN,NaN,NaN,Added yesterday,Ray White - NIGHTCLIFF,...,NT,800,08 8982 2403,NaN,NaN,premiere,1.0,1.0,0.0,2022-05-27 15:54:05
4,4,1350992,Buy>NT>DARWIN CITY,Real Estate & Property for sale in DARWIN CITY...,Unit,201m²,NaN,201m²,Added yesterday,Carol Need Real Estate - Fannie Bay,...,NT,800,0418885966,NaN,NaN,premiere,3.0,2.0,2.0,2022-05-27 15:54:05

In [50]:
data.isnull().sum()

index                 0
TID                   0
breadcrumb            0
category_name         0
property_type         0
building_size       720
land_size           467
preferred_size      391
open_date           698
listing_agency        0
price                 0
location_number       0
location_type         0
location_name         0
address              12
address_1            12
city                  0
state                 0
zip_code              0
phone                 0
latitude           1000
longitude          1000
product_depth         0
bedroom_count        33
bathroom_count       33
parking_count        33
RunDate               0
dtype: int64

index, TID, breadcrumb, cateogry_name, open_date, RunDate - these columns represent information about the listing or the dataset, not the house itself

listing_agency- while useful, the sheer number of categories and the time constraint make this difficult to properly clean; would be useful to see if certain agencies are correlated to housing premiums/discounts

location_number, location_type, location_name- these columns do not provide information on the housing itself

address, address_1, city, state, zip_code, phone - these columns involve largely information unique to the housing and listing/lister. 

latitude, longitude - these columns are solely filled with null values

In [75]:
removeCol = ["index", "TID", "breadcrumb", "category_name", "open_date", 
             "listing_agency",
             "location_number", "location_type", "location_name", "address",
            "address_1", "city", "state", "zip_code", "phone", "latitude",
            "longitude", "RunDate"]

In [76]:
data_dropped = data.drop(removeCol, axis = 1)
data_dropped.head()

,property_type,building_size,land_size,preferred_size,price,product_depth,bedroom_count,bathroom_count,parking_count
0,House,NaN,NaN,NaN,"$435,000",premiere,2.0,1.0,1.0
1,Apartment,171m²,NaN,171m²,"Offers Over $320,000",premiere,3.0,2.0,2.0
2,Unit,NaN,NaN,NaN,"$310,000",premiere,2.0,1.0,1.0
3,House,NaN,NaN,NaN,"$259,000",premiere,1.0,1.0,0.0
4,Unit,201m²,NaN,201m²,"$439,000",premiere,3.0,2.0,2.0

In [77]:
data_dropped.isnull().sum()

property_type       0
building_size     720
land_size         467
preferred_size    391
price               0
product_depth       0
bedroom_count      33
bathroom_count     33
parking_count      33
dtype: int64

In [79]:
data_dropped["property_type"].value_counts()

House                   441
Unit                    230
Apartment               212
Townhouse                38
Residential Land         33
Duplex/Semi-detached     19
Acreage                   9
Block Of Units            6
Villa                     4
Other                     4
Studio                    2
Lifestyle                 1
Warehouse                 1
Name: property_type, dtype: int64

In [26]:
prices = data["price"]
prices

0                  $435,000
1      Offers Over $320,000
2                  $310,000
3                  $259,000
4                  $439,000
               ...
995             2 Residence
996                $601,000
997                $655,000
998                $675,000
999                $399,000
Name: price, Length: 1000, dtype: object

In [31]:
def removeAlphabetic(string):
    return re.sub("[a-zA-Z,]", "", string)

In [32]:
data["price"].apply(removeAlphabetic)

0        $435000
1        $320000
2        $310000
3        $259000
4        $439000
         ...
995           2
996      $601000
997      $655000
998      $675000
999      $399000
Name: price, Length: 1000, dtype: object

In [33]:
data["price"].head(100)

0                   $435,000
1       Offers Over $320,000
2                   $310,000
3                   $259,000
4                   $439,000
               ...
95      Offers over $450,000
96                Negotiable
97                  $380,000
98                  $275,000
99    PRICE GUIDE $1,070,000
Name: price, Length: 100, dtype: object